parameters:
	ignoreErrors:
		-
			message: "#^Property SimpleSAML\\\\Module\\\\statistics\\\\LogCleaner\\:\\:\\$statrules is never read, only written\\.$#"
			count: 1
			path: src/LogCleaner.php

		-
			message: "#^Property SimpleSAML\\\\Module\\\\statistics\\\\LogParser\\:\\:\\$datestart is never read, only written\\.$#"
			count: 1
			path: src/LogParser.php
